<div class="container color-dark">

    <div class="col">
      <p>Courses ({{ itemCount }})</p>
    </div>

    <div class="col">
        <p>Add course</p>
      </div>
  </div>
  
  <div class="container color-light">
      
    <div class="col">
      <p class = "course-container" *ngFor="let enrollment of coursesResponse">
        {{ enrollment.course.name }}: {{ enrollment.grade }}
      </p>
    </div>

    <div class="col">
        <p class = "sm">Enroll to courses: </p>
  
        <form>
            <input type="text" class="txt" name="item" placeholder="Course ID..." [(ngModel)]="courseId">
            <input type="submit" class="btn" value="{{enrollText}}" (click)="addItem()">
        </form>
        
        <p class = "sm">Update info: </p>
        <form>
            <p *ngFor="let student of studentResponse">
                <input type="text" class="txt" name="fn" placeholder="{{student.name}}" [(ngModel)]="name">
                <input type="text" class="txt" name="ad" placeholder="{{student.address}}" [(ngModel)]="address">
                <input type="text" class="txt" name="em" placeholder="{{student.email}}" [(ngModel)]="email">
            </p>
            <input type="submit" class="btn" value="{{updateText}}" (click)="updateInfo()">
        </form>
  